
<div class="graphView row marginTop10" ng-controller="graphExploreCtrl as graphExplore">
    <h1 class="textAlignRight"><i class="fa fa-share-alt" aria-hidden="true"></i> {{graphExplore.title}}</h1>
    <div ng-include="'app/views/partials/searchBar.html'"></div>

    <div class="graphWindow col-sm-12">

        <graph-view d3-links="links" d3-nodes="nodes"> </graph-view>
    </div>
    <div class="col-xs-12 marginTop10">
        <label class="graphData">Nodes : {{nodeCounts}} </label> |
        <label class="graphData"> Edges : {{linkCounts}}</label> |
        <label class="graphData">Expanded Node Name :  </label>
        <label id="nodeName" class="graphData"></label> |
        <label class="graphData">Searched Node Name : {{exploredNodeName}} </label> |
        <span class="graphData"> Minimum Thresh Hold : {{minimumThreshHold}}</span>


    </div>
    <div class="col-sm-12 marginTop10">
        <label class="graphData">show weights :</label>
        <button type="button" id="weightBtn" class="btn btn-default" data-toggle="button" aria-pressed="true" autocomplete="off" ng-click="weightToggle()">
            Off
        </button> |
        <label for="searchThreshHold" class="searchThreshHold">Set Link Thresh hold : </label>
        <input ng-disabled="graphExplore.threshHoldSpinner" id="searchThreshHold" ng-model="queryThreshHold" class="input-sm form-inline" type="text" placeholder="threshHold" required>
        <button ng-disabled="!queryThreshHold" type="button" class="btn btn-success" data-toggle="button" aria-pressed="true" autocomplete="off" ng-click="graphExplore.setThreshHold(queryThreshHold)">
            set
            <span ng-show="graphExplore.threshHoldSpinner"  class="fa fa-spinner fa-spin" aria-hidden="true"></span>
        </button>

        <button class="btn btn-success floatRight" ng-click="graphExplore.saveGraph()">ذخیره گراف</button>
    </div>

</div>