


<div class="graphView row marginTop10" ng-controller="searchTechViewController">
    <h3 class="textAlignRight  pageHeader pageHeaderTechs"><i class="fa fa-search" aria-hidden="true"></i> جست و جوی تکنولوژی ها</h3>
    <div class="marginTop10 col-md-12 floatRight textAlignRight">
        <label class="graphData">نودها : {{nodeCounts}} </label> |
        <label class="graphData"> یال ها : {{linkCounts}}</label> |
        <label class="graphData"> حداقل وزن یال : {{minimumThreshHold}}</label> |
        <label class="graphData">تکنولوژی کلیک شده :  {{nodeClickedTitle}}</label> |
        <label class="graphData">تکنولوژی های جست و جو شده :
         <span ng-repeat="item in searchedTechs">{{item}}, </span>
        </label>

    </div>
        <div class="graphWindow col-sm-12">

            <graph-view d3-links="links" d3-nodes="nodes"> </graph-view>

        </div>



        <div class="marginTop10 col-md-12">

            <label class="graphData">
                وزن یال ها :
                <button type="button" id="weightBtn" class="btn btn-default" data-toggle="button" aria-pressed="true" autocomplete="off" ng-click="weightToggle()">
                    Off
                </button>
            </label>

        |
            <label class="graphData">فیزیک :
                <button type="button" id="physics" class="btn btn-success" data-toggle="button" aria-pressed="true" autocomplete="off" ng-click="physicsToggle()">
                    On
                </button>
            </label>
          |

            <label for="searchThreshHold" class="searchThreshHold graphData">تغییر کمینه ی وزن یال ها :
                <input ng-disabled="threshHoldSpinner" id="searchThreshHold" ng-model="queryThreshHold" class="input-sm form-inline" type="text" placeholder="threshHold" required>
                <button ng-disabled="!queryThreshHold" type="button" class="btn btn-success" data-toggle="button" aria-pressed="true" autocomplete="off" ng-click="setThreshHold(queryThreshHold)">
                    set
                    <span ng-show="threshHoldSpinner"  class="fa fa-spinner fa-spin" aria-hidden="true"></span>
                </button>
            </label>



            <span class="floatRight">
                <a class="btn btn-warning btn-lg " href="/searchTechsFirstPage"><spa class="fa fa-arrow-left"></spa> صفحه قبل</a>
            </span>
        </div>


</div>
