
<div class="col-md-12 marginTop10" ng-controller="searchTechController">
    <h1><i class="fa fa-search" aria-hidden="true"></i> Search Technology Graph</h1>

    <form name="searchTechsForm">
    <fieldset class="searchTech">
        <h2>Technology Names
            <div class="col-md-12" >
                <button class="btn btn-success " ng-click="addField()">+</button>
                <button  class="btn btn-danger " href="#/second" ng-click="deleteField()">-</button>
            </div>
        </h2>

        <div class="input-list style-1 col-md-12">


                <li class="col-xs-6 listStyle"  ng-repeat="item in inputs">
                    <label class="labelInline" for="1">Tech Name:</label>
                    <input id="1" type="text" ng-model="itemValue[$index]" required>

                </li>


        </div>
        <hr>
        <div class="input-list style-1 col-md-12 marginTop10">
            <h2>Options</h2>

            <div class="col-xs-6">
                <label for="threshHold">Minimum Thresh hold:</label>
                <input id="threshHold" type="text" ng-model="threshHold" required>
            </div>
            <div class="col-xs-6">
                <label   for="traverseDepth">traverse Depth:</label>
                <input id="traverseDepth" type="text" ng-model="traverseDepth" required>
            </div>
        </div>
        <div class="col-md-12 marginTop10">
            <button ng-disabled="searchTechsForm.$invalid" class="btn btn-success btn-lg marginTop10" ng-click="searchGraph('/searchTechsSecondPage')">Search Graph <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </fieldset>
    </form>

</div>
