
<div class="col-md-12 marginTop10 searchTechFirst" ng-controller="searchTechController">
    <div class="col-xs-12">
    <h3 class="textAlignRight pageHeader pageHeaderSearch"><i class="fa fa-search" aria-hidden="true"></i> جست و جوی تکنولوژی ها</h3>
    </div>

    <form name="searchTechsForm">
    <fieldset class="searchTech">
        <h2>نام های تکنولوژی
            <div class="col-md-12" >
                <button class="btn btn-success " ng-click="addField()">+</button>
                <button  class="btn btn-danger " href="#/second" ng-click="deleteField()">-</button>
            </div>
        </h2>
        <hr>
        <div class="input-list style-1 col-xs-12 col-md-12">


                <li class="col-xs-6 listStyle floatRight marginTop30"  ng-repeat="item in inputs">
                    <label class="labelInline floatRight textAlignRight" for="1">نام تکنولوژی:</label>
                    <input id="1" type="text" ng-model="itemValue[$index]" required>

                </li>


        </div>
        <div class="input-list style-1 col-xs-12 col-md-12 marginTop10">
            <h2 style="margin-bottom: 0">تنظیمات</h2>
            <hr>

            <div class="col-xs-6 floatRight marginTop30">
                <label for="threshHold" class="textAlignRight floatRight">حداقل وزن یال:</label>
                <input id="threshHold" type="text" ng-model="threshHold" required>
            </div>
            <div class="col-xs-6 floatRight marginTop30">
                <label   for="traverseDepth" class="textAlignRight floatRight">عمق پیمایش:</label>
                <input id="traverseDepth" type="text" ng-model="traverseDepth" required>
            </div>
        </div>
        <div class="col-md-12 marginTop50">
            <button ng-disabled="searchTechsForm.$invalid" class="btn btn-success btn-lg marginTop10" ng-click="searchGraph('/searchTechsSecondPage')">جست و جوی گراف <i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </fieldset>
    </form>

</div>
