
<div class="col-md-12 marginTop10 searchTechFirst" ng-controller="searchTechController">
    <div class="col-xs-12">
        <h3 class="textAlignRight pageHeader pageHeaderSearch"><i class="fa fa-search" aria-hidden="true"></i> جست و جوی فناوری ها</h3>
    </div>

    <form name="searchTechsForm">
        <fieldset class="searchTech col-xs-12">
            <h2>نام های فناوری

            </h2>
            <hr>
            <div class="row">
                <div class="  col-xs-12 col-sm-2 floatRight">
                    <h4 class="text-center techNames" >   انتخاب حروف الفبا </h4>
                    <li class="col-xs-12 listStyle floatRight marginTop30"  >
                        <select ng-model="alphabet" class="form-inline floatRight selectStyle" ng-change="techWithAlphabet(alphabet)">
                            <option ng-repeat="alphabet in alphabetArray">{{alphabet}}</option>
                        </select>

                    </li>
                </div>
                <div class="  col-xs-12 col-sm-5 floatRight ">
                    <h4 class="text-center techNames" ng-show="alphabetTechs.length>0"> {{alphabetPicked}}  نام ها فناوری با حرف اول </h4>
                    <div class="techBoxes col-xs-12"  ng-show="alphabetTechs.length>0">
                        <li ng-click="pickTech(tech)" ng-repeat="tech in alphabetTechs" style="list-style: none" class="col-xs-12 marginTop10 techPickList"><i class="fa fa-plus circle success floatLeft"></i> {{tech.tech_title}}</li>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 floatRight ">
                    <h4 class="text-center techNames" ng-show="inputs.length>0">   تکنولوژی های انتخاب شده </h4>
                    <div class="techBoxes col-xs-12" ng-show="inputs.length>0">
                        <li class="col-xs-12 listStyle techPickListChosen floatRight "  ng-repeat="item in inputs">
                            <button  class="btn btn-danger floatLeft" href="#/second" ng-click="deleteField(item)">-</button>
                            <label>{{item.tech_title}}</label>
                        </li>
                    </div>
                </div>
            </div>
            <div ng-show="inputs.length > 0" class="input-list style-1 col-xs-12 col-md-12 marginTop30">
                <hr>




            </div>
            <div class="input-list style-1 col-xs-12 col-md-12 marginTop10">
                <h2 style="margin-bottom: 0">تنظیمات</h2>
                <hr>

                <div class="col-xs-6 floatRight marginTop30">
                    <label for="threshHold" class="textAlignRight floatRight">حداقل وزن یال:</label>
                    <input id="threshHold" type="text" ng-model="threshHold" required>
                </div>
                <div class="col-xs-6 floatRight marginTop30">
                    <label   for="traverseDepth" class="textAlignRight floatRight">عمق پیمایش:</label>
                    <input id="traverseDepth" type="text" ng-model="traverseDepth" required>
                </div>
            </div>
            <div class="col-md-12 marginTop50">
                <button ng-disabled="searchTechsForm.$invalid" class="btn btn-success btn-lg marginTop10" ng-click="searchGraph('/searchTechsSecondPage')">جست و جوی گراف <i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </fieldset>
    </form>

</div>
