<form name="searchBarForm">
    <div class="input-group custom-search-form ">
        <div class="input-group-btn buttonSearchSection ">
            <button class="btn btn-orange btnSearchBorder" type="submit" ng-disabled="searchBarForm.$invalid" ng-click="searchBarGetData(field)">
                جست و جو
                <span ng-hide="searchBarSpinner" class="glyphicon glyphicon-search"></span>
                <span ng-show="searchBarSpinner"  class="fa fa-spinner fa-spin" aria-hidden="true"></span>
            </button>
        </div>
        <div class="inputSearchSection">
            <input type="text" ng-keyup="graphExplore.getNodeNamesKeyDown(field.queryInput)" ng-model="field.queryInput" class="form-control searchInput" required>
            <ul ng-if="nodeNamesSearched.length !== 0" class="searchDropDown">
            <li   ng-repeat="node in nodeNamesSearched">{{node.tech_title}}</li>
            </ul>
        </div>

    </div><!-- /input-group -->
</form>

