body {
    padding-top: 30px;
}


header .navbar {
    border-radius: 0;
}
.marginTop50 {
    margin-top: 50px;
}
.marginTop10 {
    margin-top: 10px;
}
.graphWindow {
    border: solid 1px black;
    border-radius: 5px;
    width: 85%;
}
.displayWeight {
    display: none;
}
.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}


.spinner {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: spin 1s infinite;
}

@keyframes spin {

    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }

}

@-webkit-keyframes  spin {

    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }

}

@-moz-keyframes  spin {

    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }

}