@font-face {
    font-family: 'sans';
    src: url('../fonts/iran-sans.ttf') format('truetype');
}
html, body {
    font-family: "sans" !important;
}
.container {
    width: 100%;
    padding: 0;

}
body {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


header .navbar {
    border-radius: 0;
}
.floatRight{
    float: right !important;
}
.textAlignRight {
    text-align: right;
    direction: rtl;
}

.dropdown-menu {
    right: 0 !important;
}
.marginTop50 {
    margin-top: 50px;
}

.marginTop10 {
    margin-top: 10px;
}
.marginTop30 {
    margin-top: 30px !important;
}
.searchTechFirst {
    padding: 10px;
}
.graphData {
    padding: 6px 15px;
    border-radius: 4px;
    background-color: rgb(252, 213, 49);
    /*border: 1px solid #303030;*/
}
.backgroundMenu {
    background-color: rgb(252, 213, 49) !important;
    color: black !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #eee;
}
.navbar-inverse .navbar-brand {
    color : #eee;
}
.iconBiggerSize {
    font-size: 20px !important;
}
.graphView {
    margin: 0 auto;
    width: 97%;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.graphWindow {
    border: solid 1px black;
    border-radius: 5px;
    width: 100%;
}
.searchTech h2{
    color: #222;
}
.custom-search-form {
    width: 100%;
    margin-bottom: 10px;
}
.inputSearchSection {
    width: 100%;
}
.buttonSearchSection {
    width: 100px;
}
.btnSearchBorder {
    border-radius: 0 4px 4px 0 !important;

}
.techNames {
    list-style: none !important;
}
.floatLeft {
    float: left;
}
.techPickList {
    background-color: #eee;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 10px;
}
.techPickList:hover {
    cursor: pointer;
    background-color: #28a745;
}
.success {
    background-color: #28a745;
}
.circle {
    padding: 5px;
    border-radius: 50%;
}
.techPickListChosen {
    background-color: #eee;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin:10px 5px;
}
.searchKeyUpList:hover {
    background-color: #999;
    cursor: pointer;
}
a.navbar-brand {
    font-size: 14px;
}
.navbar-nav>li>a {
    font-size: 14px;
}
.navbarBrandLogo {
    padding-top: 3px;
}
.searchDropDown {
    background-color: #eee;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    list-style: none;
    position: absolute;
    z-index: 10000;
    padding: 5px;
    top:35px;
    width: 50%;
    left: 0;
}
.searchDropDown li {
    direction: ltr;
    text-align: left;
}
.searchInput {
    width: 100%;
    direction: ltr;
}
.displayWeight {
    display: none;
}
.navbar-nav>li {
    cursor: pointer;
    font-size: 16px;
}
.navbar-brand {
    margin-left: 10px !important;
}
#searchThreshHold {
    width: 100px;
}
.floatRight {
    float: right;
}
fieldset {
    border: 2px solid rgba(50, 50, 50, 0.3);
    background: #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    color: black;
}

fieldset legend {
    background: #2C476D;
    color: #fff;
    padding: 15px 20px ;
    font-size: 32px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #7186A4;
    margin-left: 20px;
}
fieldset span {
    color: black !important;
    float: left;
}
fieldset #weightBtn {
    float: left;
}
fieldset h2 {
    color: #496387;
    margin: 10px auto 40px auto;
}
.selectStyle {
    height: 50px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.techBoxes {
    background-color: #fff;
    border-radius: 3px;
    height: 100%;
    display: block;
}
.listStyle {
    margin-top: 5px;
    list-style-type: none;
}
.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}
.btnTools {
    background-color: rgb(255, 150, 0);
    color: white;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
}
.btnTools:hover {
    color: white;
    background-color: rgb(220, 119, 0);
}
.pageHeader {
    background-color:#666;
    float:right;
    padding:10px;
    margin-top:30px;
    text-align: center;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    color:white;
}
.pageHeaderTable {
    width:30%;
    background-color:#666;
    float:right;
    padding:10px 15px;
    margin-top:20px;
    text-align: center;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    color:white;
}
.pageHeaderSearch {
    margin-top: 10px;
    width: 35%;
}
.pageHeaderTechs {
    width: 35%;
}
.graphTable {
    margin-top: 80px;
}
.btn-orange {
    background-color: rgb(255, 150, 0);
}
.btn-orange:hover {
    background-color: rgb(220, 119, 0);
}
.searchBar {
    margin-left: 10px;
}
.spinner {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: spin 1s infinite;
}
.nodeToolTip {
    font-size: 18px;
}
.nodeToolTipEdges {

}
.dropDownMenu{
    width: 200px;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
@keyframes spin {

    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }

}

@-webkit-keyframes  spin {

    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }

}

@-moz-keyframes  spin {

    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }

}