<div class="marginTop50" ng-controller="regCtrl as register">
    <div class="page-header">
        <h1 class="text-center">ثبت نام</h1>
    </div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form name="regForm" ng-submit="register.regUser(register.regData)">
                <br>
                <label class="floatRight textAlignRight">پست الکترونیکی:</label>
                <input class="form-control" type="email" name="email" ng-model="register.regData.email" required>
                <br>
                <label class="floatRight textAlignRight">نام:</label>
                <input class="form-control" type="text" name="username" ng-model="register.regData.username" required >
                <br>
                <label class="floatRight textAlignRight ">رمز عبور:</label>
                <input class="form-control" type="password" name="password" ng-model="register.regData.password" required>
                <br>
                <label class="floatRight textAlignRight ">تکرار رمز عبور:</label>
                <input class="form-control" type="password" name="passwordConfirmation" ng-model="register.regData.passwordConfirmation" compare-to="register.regData.password" required>
                <br>
                <div class="alert-warning" ng-show="regForm.$error.compareTo">passwords dont match</div>
                <button class="btn btn-primary floatRight" type="submit" ng-disabled="regForm.$invalid || regForm.$pristine">ثبت نام</button>
            </form>
            <div class="col-xs-12 jumbotron text-center marginTop10" ng-show="register.loading">
                <span class="glyphicon glyphicon-repeat spinner"></span>
                <p>loading...</p>
            </div>
            <div class="col-xs-12 show-hide-message marginTop10" ng-show="register.successMsg">
                <div class="alert alert-success">
                    {{register.successMsg}}
                </div>
            </div>
            <div class="col-xs-12 show-hide-message marginTop10" ng-show="register.errorMsg">
                <div class="alert alert-danger">
                    {{register.errorMsg}}
                </div>
            </div>
        </div>
    </div>
</div>